{% include 'header.html' %}

<main class="main">

    <!-- Page Title -->
    <div class="page-title" data-aos="fade">
      <div class="heading">
        <div class="container">
          <div class="row d-flex justify-content-center text-center">
            <div class="col-lg-8">
              <h1>Courses</h1>
              <p class="mb-0"></p>
            </div>
          </div>
        </div>
      </div>
      <nav class="breadcrumbs">
        <div class="container">
          <ol>
            <li><a href="/">Home</a></li>
            <li class="current">Courses</li>
          </ol>
        </div>
      </nav>
    </div><!-- End Page Title -->

 <!-- Courses Section -->
    <section id="courses" class="courses section">

      <!-- Section Title -->
      <div class="container section-title" data-aos="fade-up">
        <h2>Courses</h2>
        <p class="">Popular Courses</p>
      </div><!-- End Section Title -->

      <div class="container">

        <div class="row">
  {% for c in courses %}
          <div class="col-lg-4 col-md-6 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="100">
            <div class="course-item">
              <img src="{{ media_url }}{{ c.image_file }}" class="img-fluid" alt="{{ c.coursename }}">
              <div class="course-content">
                <div class="d-flex justify-content-between align-items-center mb-3">
                  <p class="category">{{ c.coursename }}</p>
<!--                  <p class="price">{{ c.courserate }}</p>-->
                </div>

                <h3><a href="{{ c.id }}">{{ c.coursename }}</a></h3>
                <p class="description">{{ c.coursedesc }}</p>

              </div>
            </div>
          </div> <!-- End Course Item-->
{% endfor %}


</main>
{% include 'footer.html' %}


